<div class="container">
  <% @posts.each do |post| %>
    <div class="row">
      <div class="col-sm-3">
        <img src="https://assets.entrepreneur.com/content/3x2/274/20160113181342-marcos-pizza.jpeg" style="width: 100%;">
      </div>
      <div class="col-sm-6">
        <div class="categorie">
          <%= post.categorie %>
        </div>
        <div class="title">
          <%= post.title %>
        </div>
        <div class="sneakpeak">
          <%= post.sneakpeak %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9">
        <hr>
      </div>
    </div>
  <% end %>
</div>